Repository tmate/Stress-Test, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nodejs/tsc, @nodejs/net, @nodejs/quic, @nodejs/crypto, @nodejs/http, @nodejs/http2, @nodejs/modules, @nodejs/vm, @nodejs/n-api

.github/CODEOWNERS:

# Node.js Project Codeowners

# 1. Codeowners must always be teams, never individuals
# 2. Each codeowner team should contain at least one TSC member
# 3. PRs touching any code with a codeowner must be signed off by at least one
#    person on the code owner team.

/.github/CODEOWNERS @nodejs/tsc

# net

/deps/cares @nodejs/net
/doc/api/dns.md @nodejs/net
/doc/api/dgram.md @nodejs/net
/doc/api/net.md @nodejs/net
/lib/dgram.js @nodejs/net
/lib/dns.js @nodejs/net
/lib/net.js @nodejs/net @nodejs/quic
/lib/internal/dgram.js @nodejs/net
/lib/internal/dns/* @nodejs/net
/lib/internal/net.js @nodejs/net
/lib/internal/socket_list.js @nodejs/net
/lib/internal/js_stream_socket.js @nodejs/net
/src/cares_wrap.h @nodejs/net
/src/connect_wrap.* @nodejs/net
/src/connection_wrap.* @nodejs/net
/src/node_sockaddr* @nodejs/net
/src/tcp_wrap.* @nodejs/net
/src/udp_wrap.* @nodejs/net

# tls/crypto

/lib/internal/crypto/* @nodejs/crypto
/lib/internal/tls.js @nodejs/crypto @nodejs/net
/lib/crypto.js @nodejs/crypto
/lib/tls.js @nodejs/crypto @nodejs/net
/src/node_crypto* @nodejs/crypto
/src/node_crypto_common* @nodejs/crypto @nodejs/quic

# http

/deps/llhttp/* @nodejs/http @nodejs/net
/doc/api/http.md @nodejs/http @nodejs/net
/doc/api/http2.md @nodejs/http @nodejs/net
/lib/_http_* @nodejs/http @nodejs/net
/lib/http.js @nodejs/http @nodejs/net
/lib/https.js @nodejs/crypto @nodejs/net @nodejs/http
/src/node_http_common* @nodejs/http @nodejs/http2 @nodejs/quic @nodejs/net
/src/node_http_parser.cc @nodejs/http @nodejs/net

# http2

/deps/nghttp2/* @nodejs/http2 @nodejs/net
/doc/api/http2.md @nodejs/http2 @nodejs/net
/lib/http2.js @nodejs/http2 @nodejs/net
/lib/internal/http2/* @nodejs/http2 @nodejs/net
/src/node_http2* @nodejs/http2 @nodejs/net
/src/node_mem* @nodejs/http2

# quic

/deps/ngtcp2/ @nodejs/quic
/deps/nghttp3/ @nodejs/quic
/doc/api/quic.md @nodejs/quic
/lib/internal/quic/ @nodejs/quic
/src/node_bob* @nodejs/quic
/src/quic/ @nodejs/quic

# modules

/doc/api/modules.md @nodejs/modules
/doc/api/esm.md @nodejs/modules
/lib/module.js @nodejs/modules
/lib/internal/modules/* @nodejs/modules
/lib/internal/bootstrap/loaders.js @nodejs/modules
/src/module_wrap* @nodejs/modules @nodejs/vm

# N-API

/src/node_api* @nodejs/n-api
/src/js_native_api* @nodejs/n-api
/doc/guides/adding-new-napi-api.md @nodejs/n-api
/doc/api/n-api.md @nodejs/n-api

module: share CJS/ESM resolver fns, refactoring
  doc/api/esm.md
  doc/api/modules.md
  lib/internal/errors.js
  lib/internal/modules/cjs/loader.js
  lib/internal/modules/esm/resolve.js
  test/es-module/test-esm-exports.mjs
  test/es-module/test-esm-invalid-pjson.js
  test/message/esm_loader_not_found_cjs_hint_bare.out
Owners: @nodejs/modules

policy: support conditions for redirects
  doc/api/policy.md
  lib/internal/errors.js
  lib/internal/modules/cjs/helpers.js
  lib/internal/modules/cjs/loader.js
  lib/internal/modules/esm/resolve.js
  lib/internal/policy/manifest.js
  lib/internal/util/compositekey.js
  node.gyp
  test/parallel/test-policy-dependency-conditions.js
Owners: none

build: implement a Commit Queue in Actions
  .github/workflows/auto-start-ci.yml
  .github/workflows/commit-queue.yml
  doc/guides/commit-queue.md
  tools/actions/commit-queue.sh
Owners: none

test: remove error message checking in test-worker-init-failure
  test/parallel/test-worker-init-failure.js
Owners: none

lib: add UNC support to url.pathToFileURL()
  lib/internal/url.js
  test/parallel/test-url-fileurltopath.js
  test/parallel/test-url-pathtofileurl.js
Owners: none

buffer: alias UInt ➡️ Uint in buffer methods
  doc/api/buffer.md
  lib/internal/buffer.js
  test/parallel/test-buffer-writeuint.js
Owners: none

fs: guard against undefined behavior
  doc/api/fs.md
  lib/internal/fs/promises.js
  test/parallel/test-worker-message-port-transfer-filehandle.js
Owners: none

test: use process.env.PYTHON to spawn python
  test/parallel/test-child-process-set-blocking.js
  test/pummel/test-child-process-spawn-loop.js
Owners: none

crypto: avoid unitializing ECDH objects on error
  src/node_crypto.cc
Owners: @nodejs/crypto

doc: avoid _may_ in collaborator guide
  doc/guides/collaborator-guide.md
Owners: none

test,doc: add missing uv_setup_args() calls
  doc/api/embedding.md
  test/cctest/gtest/gtest_main.cc
  test/embedding/embedtest.cc
Owners: none

build: move compiling for Windows ARM64 to Tier 2
  BUILDING.md
Owners: none
