Repository tmate/Stress-Test, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nodejs/tsc, @nodejs/net, @nodejs/quic, @nodejs/crypto, @nodejs/http, @nodejs/http2, @nodejs/modules, @nodejs/vm, @nodejs/n-api

test: add tests for validateNumber/validateString
  test/parallel/test-validators.js
Owners: none

module: use cjsCache over esm injection
  lib/internal/modules/cjs/loader.js
  lib/internal/modules/esm/loader.js
  lib/internal/modules/esm/translators.js
Owners: none

doc: harden policy around objections
  doc/guides/collaborator-guide.md
Owners: none

doc: add writable and readable options to Duplex docs
  doc/api/stream.md
Owners: none

build: add flag to build V8 with OBJECT_PRINT
  configure.py
Owners: none

tools: add debug entitlements for macOS 10.15+
  tools/osx-entitlements.plist
Owners: none

quic: cleanup some outstanding todo items
  lib/internal/quic/core.js
  test/parallel/test-quic-process-cleanup.js
Owners: @nodejs/quic

src: add SocketAddressLRU Utility
  src/node_sockaddr-inl.h
  src/node_sockaddr.h
  test/cctest/test_sockaddr.cc
Owners: @nodejs/net

quic: use SocketAddressLRU to track known SocketAddress info
  src/quic/node_quic_socket-inl.h
  src/quic/node_quic_socket.cc
  src/quic/node_quic_socket.h
Owners: @nodejs/quic

quic: use the SocketAddressLRU to track validation status
  doc/api/quic.md
  lib/internal/quic/core.js
  lib/internal/quic/util.js
  src/quic/node_quic.cc
  src/quic/node_quic_socket.cc
  src/quic/node_quic_socket.h
  test/parallel/test-quic-errors-quicsocket-create.js
Owners: @nodejs/quic

deps: V8: cherry-pick e06ace6b5cdb
  common.gypi
  deps/v8/src/api/api.cc
  deps/v8/test/cctest/test-api.cc
Owners: none

test: add vm crash regression test
  test/parallel/test-vm-set-property-proxy.js
Owners: none

util: add debug and debuglog.enabled
  doc/api/util.md
  lib/internal/util/debuglog.js
  lib/util.js
  test/sequential/test-util-debug.js
Owners: none

lib: use full URL to GitHub issues in comments
  lib/internal/event_target.js
  lib/internal/stream_base_commons.js
Owners: none

test: remove test-child-process-fork-args flaky designation
  test/parallel/parallel.status
Owners: none

doc: update http server response 'close' event
  doc/api/http.md
Owners: @nodejs/http, @nodejs/net

test: use block-scoping in test/pummel/test-timers.js
  test/pummel/test-timers.js
Owners: none

test: split test-crypto-dh-hash
  test/pummel/test-crypto-dh-hash-modp18.js
Owners: none

quic: prefer modernize-make-unique
  src/quic/node_quic_session.cc
Owners: @nodejs/quic

doc: add HPE_UNEXPECTED_CONTENT_LENGTH error description
  doc/api/errors.md
Owners: none

test: fix test_worker_terminate_finalization
  test/node-api/test_worker_terminate_finalization/test_worker_terminate_finalization.c
Owners: none

2020-08-11, Version 14.8.0 (Current)
  CHANGELOG.md
  doc/api/addons.md
  doc/api/async_hooks.md
  doc/api/n-api.md
  doc/changelogs/CHANGELOG_V14.md
Owners: @nodejs/n-api

net: introduce net.BlockList
  doc/api/net.md
  lib/internal/blocklist.js
  lib/net.js
  node.gyp
  src/node_binding.cc
  src/node_sockaddr-inl.h
  src/node_sockaddr.cc
  src/node_sockaddr.h
  test/cctest/test_sockaddr.cc
  test/parallel/test-blocklist.js
Owners: @nodejs/net, @nodejs/quic

doc: use semantically appropriate tag for lines
  doc/api/index.md
  doc/api_assets/style.css
Owners: none

doc: add padding in the sidebar column
  doc/api_assets/style.css
Owners: none

src: prefer C++ empty() in boolean expressions
  src/inspector_agent.cc
  src/inspector_js_api.cc
  src/node_file-inl.h
  src/node_http2.cc
  src/node_url.cc
  src/node_worker.cc
Owners: @nodejs/http2, @nodejs/net

doc: n-api environment life cycle APIs are stable
  doc/api/n-api.md
Owners: @nodejs/n-api

benchmark: update function_args addon code
  benchmark/napi/function_args/binding.cc
Owners: none

build: cover all benchmark addons with C++ linter
  Makefile
Owners: none

module: custom --conditions flag option
  doc/api/cli.md
  doc/api/esm.md
  doc/node.1
  lib/internal/modules/cjs/loader.js
  lib/internal/modules/esm/resolve.js
  src/node_options.cc
  src/node_options.h
  test/es-module/test-esm-custom-exports.mjs
  test/fixtures/node_modules/pkgexports/custom-condition.js
  test/fixtures/node_modules/pkgexports/package.json
Owners: @nodejs/modules

doc: remove typo in crypto.md
  doc/api/crypto.md
Owners: none

worker: fix --abort-on-uncaught-exception handling
  src/api/environment.cc
  src/env.cc
  test/parallel/test-worker-abort-on-uncaught-exception.js
Owners: none

test: skip node-api/test_worker_terminate_finalization
  test/node-api/test_worker_terminate_finalization/test.js
Owners: none

doc: reduce repetitiveness on Consensus Seeking
  doc/guides/collaborator-guide.md
Owners: none

http2: add maxHeaderSize option to http2
  doc/api/http2.md
  lib/internal/http2/core.js
  lib/internal/http2/util.js
  test/parallel/test-http2-client-settings-before-connect.js
  test/parallel/test-http2-getpackedsettings.js
  test/parallel/test-http2-session-settings.js
  test/parallel/test-http2-too-large-headers.js
Owners: @nodejs/http2, @nodejs/net

build: set --v8-enable-object-print by default
  common.gypi
  configure.py
Owners: none

doc: edit (general) collaborator guide
  doc/guides/collaborator-guide.md
Owners: none

doc: use sentence-casing for headers in collaborator guide
  doc/guides/collaborator-guide.md
Owners: none

doc: fix headings in quic.md
  doc/api/quic.md
Owners: @nodejs/quic

benchmark: add benchmark script for resourceUsage
  benchmark/process/resourceUsage.js
Owners: none

.github/CODEOWNERS:

# Node.js Project Codeowners

# 1. Codeowners must always be teams, never individuals
# 2. Each codeowner team should contain at least one TSC member
# 3. PRs touching any code with a codeowner must be signed off by at least one
#    person on the code owner team.

/.github/CODEOWNERS @nodejs/tsc

# net

/deps/cares @nodejs/net
/doc/api/dns.md @nodejs/net
/doc/api/dgram.md @nodejs/net
/doc/api/net.md @nodejs/net
/lib/dgram.js @nodejs/net
/lib/dns.js @nodejs/net
/lib/net.js @nodejs/net @nodejs/quic
/lib/internal/dgram.js @nodejs/net
/lib/internal/dns/* @nodejs/net
/lib/internal/net.js @nodejs/net
/lib/internal/socket_list.js @nodejs/net
/lib/internal/js_stream_socket.js @nodejs/net
/src/cares_wrap.h @nodejs/net
/src/connect_wrap.* @nodejs/net
/src/connection_wrap.* @nodejs/net
/src/node_sockaddr* @nodejs/net
/src/tcp_wrap.* @nodejs/net
/src/udp_wrap.* @nodejs/net

# tls/crypto

/lib/internal/crypto/* @nodejs/crypto
/lib/internal/tls.js @nodejs/crypto @nodejs/net
/lib/crypto.js @nodejs/crypto
/lib/tls.js @nodejs/crypto @nodejs/net
/src/node_crypto* @nodejs/crypto
/src/node_crypto_common* @nodejs/crypto @nodejs/quic

# http

/deps/llhttp/* @nodejs/http @nodejs/net
/doc/api/http.md @nodejs/http @nodejs/net
/doc/api/http2.md @nodejs/http @nodejs/net
/lib/_http_* @nodejs/http @nodejs/net
/lib/http.js @nodejs/http @nodejs/net
/lib/https.js @nodejs/crypto @nodejs/net @nodejs/http
/src/node_http_common* @nodejs/http @nodejs/http2 @nodejs/quic @nodejs/net
/src/node_http_parser.cc @nodejs/http @nodejs/net

# http2

/deps/nghttp2/* @nodejs/http2 @nodejs/net
/doc/api/http2.md @nodejs/http2 @nodejs/net
/lib/http2.js @nodejs/http2 @nodejs/net
/lib/internal/http2/* @nodejs/http2 @nodejs/net
/src/node_http2* @nodejs/http2 @nodejs/net
/src/node_mem* @nodejs/http2

# quic

/deps/ngtcp2/ @nodejs/quic
/deps/nghttp3/ @nodejs/quic
/doc/api/quic.md @nodejs/quic
/lib/internal/quic/ @nodejs/quic
/src/node_bob* @nodejs/quic
/src/quic/ @nodejs/quic

# modules

/doc/api/modules.md @nodejs/modules
/doc/api/esm.md @nodejs/modules
/lib/module.js @nodejs/modules
/lib/internal/modules/* @nodejs/modules
/lib/internal/bootstrap/loaders.js @nodejs/modules
/src/module_wrap* @nodejs/modules @nodejs/vm

# N-API

/src/node_api* @nodejs/n-api
/src/js_native_api* @nodejs/n-api
/doc/guides/adding-new-napi-api.md @nodejs/n-api
/doc/api/n-api.md @nodejs/n-api
